<div class="app-book-filter">
  <div class="app-book-filter__icon">
    <i class="material-icons">filter_list</i>
  </div>

  <select v-model="selectedField">
    <option v-for="field in fields" v-bind:value="field">
      {{field.label}}
    </option>
  </select>

  <div class="app-book-filter__value" v-bind:class="filerValueClassName">
    <div v-bind:is="selectedField.component"
      v-bind:opts="selectedField.opts"
      v-on:updated="updatedValue"></div>
  </div>
</div>
