* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2196F3;
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.8);
}
