<section class="app-books-list" v-on:scroll="onScroll">
  <div class="app-books-list__no-books-message" v-if="displayNoBooksMessage">
    No books were found that match the specified search criteria
  </div>

  <article v-for="book in books" :key="book.id" v-bind:book="book" is="book"></article>
</section>
