<article class="app-book">
  <figure>
    <img class="app-book__cover" v-bind:src="cover" v-bind:class="coverClassName"/>
  </figure>

  <div class="app-book__info">
    <div class="app-book__info-row">
      <div class="app-book__info-group">
        <label class="app-book__info-label">Title</label>
        <span class="app-book__info-value" v-bind:title="title">{{title}}</span>
      </div>

      <div class="app-book__info-group">
        <label class="app-book__info-label">Author</label>
        <span class="app-book__info-value" v-bind:class="genderClassName">{{author}}</span>
      </div>
    </div>

    <div class="app-book__info-row">
      <div class="app-book__info-group">
        <label class="app-book__info-label">Genre</label>
        <span class="app-book__info-value">{{genre}}</span>
      </div>

      <div class="app-book__info-group">
        <label class="app-book__info-label">Published</label>
        <span class="app-book__info-value">{{published}}</span>
      </div>
    </div>
  </div>
</article>
