.app-books-list {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 500px;
  max-height: 400px;
}

.app-books-list__no-books-message {
  font-size: 1.5em;
  text-align: center;
  padding: 30px 70px;
}
