.app-book {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5em;
  padding: 0.7em 1em 0.6em 1em;
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);

  &:hover {
    background-color: rgba(239, 239, 239, 0.5);
  }
}

.app-book__cover {
  width: 70px;
  border-radius: 6px;
  margin-right: 1.5em;
  border: solid 4px #F1F1F1;
}

.app-book__cover--finance {
  border: solid 4px #2196F3;
}

.app-book__cover--halloween {
  border: solid 4px #FF9800;
}

.app-book__info {
  flex: 1
}

.app-book__info-row {
  display: flex;
  padding: 0.2em 0;
  justify-content: space-between;
}

.app-book__info-group {
  flex: 0 1 49%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.app-book__info-label {
  display: block;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}

.app-book__info-value {
  white-space: nowrap;
}

.app-book__field--male-author {
  color: #2196F3;
}

.app-book__field--female-author {
  color: #EC407A;
}
