.app-book-filter {
  display: flex;
  justify-content: space-between;
}

.app-book-filter__icon {
  display: flex;
  align-items: center;
}

.app-book-filter__value {
  transition: 0.5s ease width;
  width: 0;
}

.app-book-filter--show-value {
  width: 120px;
}
