.app-book-sorter {
  display: flex;
  justify-content: space-between;
}

.app-book-sorter__order {
  display: flex;
  width: 30px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
