%input-fields {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.5em;
  margin: 0 0.2em;
}

.app-utilities {
  display: flex;
  height: 50px;
  justify-content: space-between;
  background-color: #DAD6D6;
  box-shadow: 0px 0px 13px -2px black;

  select {
    @extend %input-fields;
  }

  input {
    @extend %input-fields;
  }
}
