<div class="app-book-sorter">
  <div class="app-book-sorter__order" v-show="displaySortIcon" v-on:click="toggleSortOrder">
    <i class="material-icons">{{sortIcon}}</i>
  </div>

  <select v-model="selectedField">
    <option v-for="field in fields" v-bind:value="field">
      {{field.label}}
    </option>
  </select>
</div>
